<!DOCTYPE html>
<html>
   <head>
      <title>Birthday Message</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <h1><%= birthday_msg %></h1>
      <p>
      	<form action="/" method="get">
      		<input type="submit" value="Return to previous page.">
      	</form>
      </p>
   </body>
</html>