<!DOCTYPE html>
<html>
   <head>
      <title>Birthday Calculator</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <h1>Hello</h1>
      <p>Please provide your first name, last name and your birthday date</p>
      <p>
      <form action="/" method="post">
      <table>
         <tbody>
            <tr>
               <td>First Name</td>
               <td><input type="text" name="first_name" label="First Name" required="required"></td>
            </tr>
            <tr>
               <td>Last Name</td>
               <td><input type="text" name="last_name" label = "Last Name" required="required"></td>
            </tr>
         </tbody>
      </table>
      <tr>
      <p>Birthday Date: 
         <input type="date" name="birthday" id="birthday" required="required">
      </p>
      <p>   <input type="submit"> </p>
      </form>
      </p>
   </body>
</html>